<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WalkmeshVisualizerWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <WalkmeshVisualizerWpf.Properties.Settings>
            <setting name="ShowWalkableFaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNonWalkableFaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTransAbortPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTransAbortRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDefaultSpawnPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLeftClickPointCoordinates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRightClickPointCoordinates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDlzLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDoorsOnAddRim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTriggersOnAddRim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEncountersOnAddRim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLivePosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLivePositionCoordinates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewFollowsLivePosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCurrentLiveModule" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HidePreviousLiveModule" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotswapToLiveGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LivePositionUpdateDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowRimDataUnderMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGatherPartyRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCoordinatePanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRimDataPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrevLeftPanelSize" serializeAs="String">
                <value>304</value>
            </setting>
            <setting name="PrevRightPanelSize" serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="ShowWalkmeshPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLeftClickGatherPartyRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDistancePanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowToolsPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedPaletteName" serializeAs="String">
                <value>Bright</value>
            </setting>
            <setting name="ShowRimDataDoors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRimDataTriggers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRimDataTraps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRimDataZones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRimDataEncounters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedBackgroundColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowTypeUnderMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowResRefUnderMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTagUnderMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLocalizedNameUnderMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnEnterUnderMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrapsOnAddRim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowZonesOnAddRim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWireTargetPanel" serializeAs="String">
                <value>False</value>
            </setting>
        </WalkmeshVisualizerWpf.Properties.Settings>
    </userSettings>
</configuration>
